@use '../utils/mixins' as *;

.btn {
  --bt-btn-radius: var(--bt-radius-4);
  padding: var(--bt-spacer-2) var(--bt-spacer-3);
  color: var(--bt-th-c-btn);
  background-color: var(--bt-th-bg-btn);
  border-radius: var(--bt-btn-radius);
  border: var(--bt-br);
  transition: var(--bt-tr);

  @include hover(var(--bt-btn-radius));

  &--xs {
    padding: var(--bt-spacer-05) calc(1.5 * var(--bt-spacer-1));
    font-size: var(--bt-fs-1);
  }

  &--s {
    padding: var(--bt-spacer-1) var(--bt-spacer-2);
  }

  &__icon,
  .btn__icon {
    display: block;
    @include size(var(--bt-spacer-3));
    transition: var(--bt-tr);
    background-color: var(--bt-th-c-btn);
  }

  &--light {
    color: var(--bt-th-c-btn-light);
    background-color: var(--bt-th-bg-btn-light);

    &::after {
      border: var(--bt-th-br-btn-light-hover);
    }

    & .btn__icon {
      background-color: var(--bt-th-c-btn-light);
    }
  }

  &--combined {
    --bt-btn-radius: var(--bt-radius-05);

    &:first-of-type {
      --bt-btn-radius: var(--bt-radius-4) var(--bt-radius-05)
        var(--bt-radius-05) var(--bt-radius-4);
    }

    &:last-of-type {
      --bt-btn-radius: var(--bt-radius-05) var(--bt-radius-4) var(--bt-radius-4)
        var(--bt-radius-05);
    }
  }

  &--portion {
    flex: 0 0 auto;
  }

  &--icon {
    flex: 0 0 auto;
    color: transparent;
  }
}
