@use '../utils/mixins' as *;

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--bt-spacer-2);

  @include mq(sm) {
    gap: var(--bt-spacer-3);
  }

  @include mq(lg) {
    gap: calc(3.25 * var(--bt-spacer-1));
  }

  &--empty {
    width: 100%;
    text-align: center;
  }

  &--emptyMessage {
    min-width: 100%;
    margin-bottom: var(--bt-spacer-8);
  }
}

.card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  border-radius: var(--bt-radius-1);
  background-color: var(--bt-c-darker);
  color: var(--bt-c-lighter);
  box-shadow: var(--bt-sh-darkest);
  max-width: calc(4.25 * var(--bt-spacer-10));
  min-width: calc(10 * var(--bt-spacer-2));
  width: calc(50% - var(--bt-spacer-2));
  @include hover(var(--bt-radius-1), var(--bt-th-br-card-hover));

  @include mq(md) {
    width: calc(100% / 3 - var(--bt-spacer-2));
  }

  &::after {
    opacity: 1;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    transition: var(--bt-tr);
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:active,
  &:focus-visible {
    .card__img {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--bt-spacer-1) var(--bt-spacer-2) 0;
  }

  &__illu {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: var(--bt-radius-1) var(--bt-radius-1) 50% 50%;
    overflow: hidden;
    background-color: var(--bt-c-darkest);
  }

  &__title {
    flex: 1 1 auto;
    color: var(--bt-c-lightest);
    padding: var(--bt-spacer-2);
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    font-size: var(--bt-fs-3);
    word-break: break-word;
  }

  &__info {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    color: var(--bt-c-lighter);
    font-size: var(--bt-fs-1);
    margin-bottom: 0;
    width: 100%;

    &--start {
      justify-content: flex-start;

      .icon {
        flex: 0 0 auto;
        margin-right: var(--bt-spacer-1);
      }
    }

    &--end {
      justify-content: flex-end;

      .icon {
        flex: 0 0 auto;
        margin-left: var(--bt-spacer-05);
      }
    }
  }
}
