@use '../utils/mixins' as *;

.page {
  flex: 1 1 auto;
  margin-top: var(--bt-spacer-8);
  margin-bottom: var(--bt-spacer-8);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 120rem;
  padding: 0 var(--bt-spacer-2);
  @include mq(sm) {
    padding: 0 var(--bt-spacer-4);
  }
  @include mq(md) {
    padding: 0 var(--bt-spacer-6);
  }
  @include mq(lg) {
    padding: 0 var(--bt-spacer-8);
  }
}

.section {
  margin-top: var(--bt-spacer-10);

  &:first-of-type {
    margin-top: 0;
  }

  &__title {
    font-size: var(--bt-fs-4);
  }
}
