@use '../utils/mixins.scss' as *;

.reciepe {
  margin: var(--bt-spacer-6) 0;
  padding: var(--bt-spacer-3);
  border-radius: var(--bt-radius-4);
  border: var(--bt-br);
  box-shadow: var(--bt-sh-darker);
  background-color: var(--bt-c-light);

  @include mq(lg) {
    margin: var(--bt-spacer-8) 0;
  }
}
