@use '../utils/mixins' as *;

.searchSection {
  display: flex;
  background-color: var(--bt-th-bg-search);
  border-radius: var(--bt-radius-7);

  &__input {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--bt-th-c-search);
    padding: 0 var(--bt-spacer-3);
    height: var(--bt-spacer-7);
    border-radius: var(--bt-radius-7) 0 0 var(--bt-radius-7);
    border: var(--bt-th-br-search);
    overflow: hidden;

    &::placeholder {
      color: var(--bt-th-c-search);
    }
  }

  &__submit {
    --bt-radius-submit: var(--bt-radius-05) var(--bt-spacer-7)
      var(--bt-spacer-7) var(--bt-radius-05);
    position: relative;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bt-c-darker);
    @include size(var(--bt-spacer-7));
    border-radius: var(--bt-radius-submit);
    transition: var(--bt-tr);

    @include hover(var(--bt-radius-submit), var(--bt-th-br-btn-hover));
  }
}
