@use '../utils/variables' as *;
@use '../utils/mixins' as *;

:root {
  @include set-variables('c', $colors);
  @include set-variables('spacer', $spacers);
  @include set-variables('ff', $font-families);
  @include set-variables('fs', $font-sizes);
  @include set-variables('fw', $font-weights);
  @include set-variables('sh', $shadows);
  @include set-variables('radius', $radius);
  @include set-variables('tr', $transitions);
  @include set-variables('br', $borders);

  // @include set-variables("bp", $breakpoints);
}

html {
  font-family: var(--bt-ff-text);
  font-weight: var(--bt-fw-1);
}

body {
  display: flex;
  flex-direction: column;
  font-size: var(--bt-fs-2);
  height: auto;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--bt-th-c-default);
  background-repeat: repeat;
  background-color: var(--bt-th-bg);
  background-image: url('assets/img/hexellence_pattern.png');
  background-size: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0 0 1em;
  font-family: var(--bt-ff-title);
  font-weight: var(--bt-fw-1);
}

p {
  margin-bottom: 1em;
  max-width: 50em;

  &:last-child {
    margin-bottom: 0;
  }
}
