@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use 'SASS:map';

:root {
  @include set-variables('c', $colors);
  @include set-variables('spacer', $spacers);
  @include set-variables('ff', $font-families);
  @include set-variables('fs', $font-sizes);
  @include set-variables('fw', $font-weights);
  @include set-variables('sh', $shadows);
  @include set-variables('radius', $radius);
  @include set-variables('tr', $transitions);
  @include set-variables('br', $borders);

  // @include set-variables("bp", $breakpoints);
}

html {
  font-family: var(--bt-ff-text);
  font-weight: var(--bt-fw-1);
}

body {
  display: flex;
  flex-direction: column;
  font-size: var(--bt-fs-2);
  height: auto;
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--bt-th-c-default);
  background-repeat: repeat;
  background-color: var(--bt-th-bg);
  background-image: url('assets/img/hexellence_pattern.png');
  background-size: 15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bt-ff-title);
  margin: 0 0 1em;
}

@each $name, $values in $titles {
  #{$name} {
    font-size: map.get($values, 'min');
    font-weight: map.get($values, 'weight');

    @include mq(md) {
      font-size: map.get($values, 'max');
    }
  }
}

p {
  margin-bottom: 1em;
  max-width: 50em;

  &:last-child {
    margin-bottom: 0;
  }
}
