@use '../utils/variables' as *;
@use 'SASS:map';

@mixin main-bg() {
  background-color: var(--bt-c-secondary);
  background-image: linear-gradient(
    to right bottom,
    #70bea8,
    #83c898,
    #a5d082,
    #cfd36f,
    #ffd166
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin size($width: auto, $height: $width) {
  width: $width;
  height: $height;
}

@mixin set-variables($key, $array) {
  @each $name, $value in $array {
    @if $name == 'default' {
      --bt-#{$key}: #{$value};
    } @else {
      --bt-#{$key}-#{$name}: #{$value};
    }
  }
}

@mixin mq($breakpoint) {
  @if $breakpoint != 'xs' {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin base-mask() {
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
}
